<mat-toolbar color="primary">
  <img src="assets/img/logo.png" alt="Logo CodeAndConnect" style="height: 40px; margin-right: 1rem;">
  <span>CodeAndConnect</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/inicio">Inicio</button>
  <button mat-button routerLink="/servicios">Servicios</button>
  <button mat-button routerLink="/proyectos">Proyectos</button>
  <button mat-button routerLink="/certificaciones">Certificaciones</button>
  <button mat-button routerLink="/contacto">Contacto</button>
</mat-toolbar>
